@use "../../../styles/mixins" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  @include toRem(gap, 10);

  width: 100%;

  @include toRem(padding-top, 10);
  @include toRem(padding-bottom, 10);
  @include toRem(padding-left, 20);
  @include toRem(padding-right, 20);

  @include toRem(border-radius, 6);

  color: var(--text-color-dark);
  white-space: nowrap;

  transition: 0.2s ease-in-out;

  @include toRem(font-size, 14);
  @include toRem(line-height, 14);
  @include toRem(letter-spacing, 0.16);
  font-weight: 600;

  // @include respond-to(sm) {
  //   @include toRem(font-size, 16);
  //   @include toRem(line-height, 16);
  // }

  &:disabled {
    background-color: rgba(145, 145, 145, 0.6);
    border-color: rgba(145, 145, 145, 0.6);
    color: rgba(145, 145, 145, 0.6);
    cursor: not-allowed;

    &:hover {
      background-color: rgba(145, 145, 145, 0.6);
      box-shadow: unset;
    }
  }
}

.main {
  @include toRem(padding-top, 20);
  @include toRem(padding-bottom, 20);
}

.small {
  @include toRem(padding-top, 8);
  @include toRem(padding-bottom, 8);
}

.moveOnMobile {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  .button {
    background-color: rgba(255, 255, 255, 0.9);
  }

  // @include respond-to(sm) {
  //   top: 15px;
  //   bottom: unset;
  // }
}

.blue {
  background-color: var(--blue);
  border: 2px solid var(--blue);

  &:hover {
    background-color: var(--blue-hover);
  }
}

.blueSec {
  border: 2px solid var(--blue);
  color: var(--blue);
  &:hover {
    background-color: var(--blue-hover);

    box-shadow: 0.5px 0.5px 10px 0.5px var(--blue);
  }
}

.white {
  background-color: var(--white);
  border: 2px solid var(--white);

  &:hover {
    background-color: var(--white-50);
  }
}

.whiteSec {
  border: 2px solid var(--white-75);
  color: var(--white-75);

  &:hover {
    background-color: var(--white-50);

    box-shadow: 0.5px 0.5px 10px 0.5px var(--white-75);
  }
}
.orange {
  background-color: var(--orange);
  border: 2px solid var(--orange);

  &:hover {
    background-color: var(--orange-hover);
  }
}

.orangeSec {
  border: 2px solid var(--orange);
  color: var(--orange);

  &:hover {
    background-color: var(--orange-hover);

    box-shadow: 0.5px 0.5px 10px 0.5px var(--orange);
  }
}

.gold {
  background-color: var(--gold);
  border: 2px solid var(--gold);
  color: var(--black);

  &:hover {
    background-color: var(--gold-hover);
  }
}

.goldSec {
  border: 2px solid var(--gold);
  color: var(--gold);

  &:hover {
    background-color: var(--gold-hover);

    box-shadow: 0.5px 0.5px 10px 0.5px var(--gold);
  }
}

.goldBlack {
  background-color: var(--gold);
  border: 2px solid var(--gold);
  color: black;

  &:hover {
    background-color: var(--gold-hover);
  }
}

.error {
  background-color: var(--error);
  border: 2px solid var(--error);

  &:hover {
    background-color: var(--error-hover);
  }
}

.errorSec {
  border: 2px solid var(--error);
  color: var(--error);

  &:hover {
    background-color: var(--error-hover);

    box-shadow: 0.5px 0.5px 10px 0.5px var(--error);
  }
}

.black {
  background-color: var(--black);
  border: 2px solid var(--black);
  color: var(--white);

  &:hover {
    background-color: var(--black-30);
    color: var(--white-75);
  }
}

.blackSec {
  border: 2px solid var(--black);
  color: var(--black);

  &:hover {
    background-color: var(--black-30);

    color: var(--white);
    box-shadow: 0.5px 0.5px 10px 0.5px var(--black);
  }
}

.selected {
  background-color: var(--orange-selected) !important;
  color: var(--white);

  box-shadow: 0.5px 0.5px 10px 0.5px var(--orange-selected) !important;
}

.errorMessage {
  position: absolute;
  @include toRem(font-size, 12);

  bottom: -16px;
  transform: translateY(2px);
  color: var(--error);
  font-weight: 600;
}

.wc {
  border-radius: 100px;
  @include toRem(padding-top, 15);
  @include toRem(padding-bottom, 15);
}

.showOnMobile {
  display: block;

  // @include respond-to(md) {
  //   display: none;
  // }
}