@use "../../../styles/mixins" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  @include toRem(gap, 10);

  width: 100%;

  color: white;

  @include toRem(padding-top, 10);
  @include toRem(padding-bottom, 10);
  @include toRem(padding-left, 20);
  @include toRem(padding-right, 20);

  @include toRem(border-radius, 6);

  white-space: nowrap;

  transition: 0.2s ease-in-out;

  @include toRem(font-size, 14);
  @include toRem(line-height, 14);
  @include toRem(letter-spacing, 0.16);
  font-weight: 600;

  &:disabled {
    background-color: rgba(145, 145, 145, 0.6);
    border-color: rgba(145, 145, 145, 0.6);
    color: rgba(145, 145, 145, 0.6);
    cursor: not-allowed;

    &:hover {
      background-color: rgba(145, 145, 145, 0.6);
      box-shadow: unset;
    }
  }

  &:focus {
    background-color: var(--purple-hover);
  }
}

.main {
  @include toRem(padding-top, 20);
  @include toRem(padding-bottom, 20);
}

.small {
  @include toRem(padding-top, 8);
  @include toRem(padding-bottom, 8);
}

.blue {
  background-color: var(--purple);
  border: 2px solid var(--purple);

  &:hover {
    background-color: var(--purple-hover);
  }
}
