.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  padding: 0 10px;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  background-color: #f8f7fba3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;

  border-top: 1px solid #dbdbdb7e;

  .item {
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    color: #8b5cf6 !important;

    .icon {
      font-size: 24px;
    }
  }
}

.quizContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.quizItemContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.quizItem {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 10px;

  border: 1px solid var(--purple);
  border-radius: var(--border-radius-12);
  background-color: var(--purple-30);
}

.selected {
  background-color: var(--purple);
}

.correct {
  background-color: var(--success-30);
}

.incorrect {
  background-color: var(--error);
}
