@use "../../../styles/mixins" as *;
.h1Light {
  @include toRem(font-size, 26);
  @include toRem(line-height, 34);
  font-weight: 500;

  @include respond-to("md") {
    @include toRem(font-size, 28);
    @include toRem(line-height, 32);
  }

  @include respond-to("lg") {
    @include toRem(font-size, 32);
    @include toRem(line-height, 42);
  }
}
.bodyTextBig {
  @include toRem(font-size, 22);
  @include toRem(line-height, 28);
  font-weight: 600;
}

.buttonText {
  @include toRem(font-size, 14);
  @include toRem(line-height, 14);
  @include toRem(letter-spacing, 0.16);
  font-weight: 600;

  @include respond-to(sm) {
    @include toRem(font-size, 16);
    @include toRem(line-height, 16);
  }
}

.subText {
  @include toRem(font-size, 16);
  @include toRem(line-height, 18);
  font-weight: 400;
}

.subTextBold {
  @include toRem(font-size, 10);
  @include toRem(line-height, 10);
  font-weight: 600;

  @include respond-to(sm) {
    @include toRem(font-size, 12);
    @include toRem(line-height, 18);
  }
}

.h0 {
  @include toRem(font-size, 58);
  @include toRem(line-height, 70);

  @include respond-to(sm) {
    @include toRem(font-size, 96);
    @include toRem(line-height, 96);
    font-weight: 800;
  }
}

.isClickable {
  &:hover {
    transition: 0.2s ease-in-out;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}
