h1 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 800;

  // @include respond-to(sm) {
  //   font-size: 32px;
  //   line-height: 32px;
  // }
}

h2 {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.48px;
  font-weight: 800;

  // @include respond-to(sm) {
  //   font-size: 24px;
  //   line-height: 24px;
  // }
}

h3 {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.36px;
  font-weight: 800;
}

h4 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.32px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.28px;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  font-weight: 600;
}

p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;

  // @include respond-to(md) {
  //   font-size: 16px;
  //   line-height: 24px;
  //   font-weight: 500;
  // }
}
